In [17]:
import pandas as pd
import os

In [50]:
df = pd.read_csv("20080102.csv")

In [51]:
df.head()

,Date,Timestamp,Ticker,OpenPrice,HighPrice,LowPrice,ClosePrice,TotalVolume,TotalQuantity,TotalTradeCount
0,20080102,09:32:00,HNZ,46.50,46.57,46.43,46.54,637716.0,13700.0,37
1,20080102,09:33:00,HNZ,46.60,46.60,46.45,46.49,185966.5,4000.0,20
2,20080102,09:34:00,HNZ,46.48,46.48,46.44,46.44,83633.0,1800.0,15
3,20080102,09:35:00,HNZ,46.38,46.41,46.31,46.31,278109.0,6000.0,33
4,20080102,09:36:00,HNZ,46.32,46.33,46.29,46.29,231517.0,5000.0,35

In [52]:
df['OpenPrice'] = df['OpenPrice'] / 10

In [53]:
df.head()

,Date,Timestamp,Ticker,OpenPrice,HighPrice,LowPrice,ClosePrice,TotalVolume,TotalQuantity,TotalTradeCount
0,20080102,09:32:00,HNZ,4.650,46.57,46.43,46.54,637716.0,13700.0,37
1,20080102,09:33:00,HNZ,4.660,46.60,46.45,46.49,185966.5,4000.0,20
2,20080102,09:34:00,HNZ,4.648,46.48,46.44,46.44,83633.0,1800.0,15
3,20080102,09:35:00,HNZ,4.638,46.41,46.31,46.31,278109.0,6000.0,33
4,20080102,09:36:00,HNZ,4.632,46.33,46.29,46.29,231517.0,5000.0,35

In [25]:
df = pd.read_csv("20080102.csv")
files_in_data_by_ticker_folder = os.listdir()
print(files_in_data_by_ticker_folder)

['$SPX.X.csv', '.ipynb_checkpoints', '20080102.csv', 'A.csv', 'AgriERP RFF.lnk', 'AgriERP-FinOps-BC.lnk', 'A_Z_code_testing_quicksight_project.ipynb', 'Backup', 'BackUp2', 'Blast', 'Blast-BackUp.ipynb', 'Blast-Tickers.csv', 'Blast.ipynb', 'CSVs', 'DailyDataExtractionTDAmeritrade.ipynb', 'Data', 'desktop.ini', 'Documents', 'DocuScan Product.lnk', 'DocuScan Python App.lnk', 'DocuScan RFF.lnk', 'DocuScan SF.lnk', 'Folio3 General.lnk', 'Folio3 Projects.lnk', 'Important Snapshots', 'J-Dot - Shortcut.lnk', 'JSON_Files', 'Luksh.JPG', 'Masters.lnk', 'Personal.lnk', 'Project Hamburg - Production.lnk', 'Project Hamburg.lnk', 'RemoteToLocalSync.bat', 'RFF OCR.lnk', 'SF-Recent-Ticket', 'Temporay.ipynb', 'Test.csv', 'ThinkScript-To-Python.ipynb', 'Tickers', 'Tickers-Data.zip', 'Tickers-Minute-Data', 'Untitled.ipynb', 'Warehouse App.lnk']

In [26]:
df_today_file = df.groupby('Ticker')
for group_name, group_df in df_today_file:
    ticker_csv_filename = group_name + ".csv"
    print(ticker_csv_filename)
    if(ticker_csv_filename in files_in_data_by_ticker_folder):
        print("found")
        group_df.to_csv(ticker_csv_filename, mode = 'a', index = False, header = False)
    else:
        group_df.to_csv(ticker_csv_filename, index = False)
    break

A.csv
found

In [31]:
files = {"d":2, "g":1, "a":3, "b":3, "t":2}
print(files.items())
for key, file_dir in sorted(list(files.items()), key=lambda x:x[1], reverse=True):
    print ("Checking {0} in {1}".format(key, file_dir))

dict_items([('d', 2), ('g', 1), ('a', 3), ('b', 3), ('t', 2)])
Checking a in 3
Checking b in 3
Checking d in 2
Checking t in 2
Checking g in 1

In [49]:
date_and_ratio_data = list(files.items())
for i in range(len(date_and_ratio_data) - 1, -1, -1):
    print(date_and_ratio_data[i][0])
    print(date_and_ratio_data[i][1])

t
2
b
3
a
3
g
1
d
2