**Importing all the necessary libraries**

In [ ]:
from sqlalchemy import create_engine, MetaData, update, select
from sqlalchemy.orm import Session
import pandas as pd

**Connecting notebook to the postgres database via postgres connection string**

In [ ]:
def read_database_connection_string():
    text_file = open(r"D:/Project Hamburg/13-production/db-connection-string.txt", "r")
    CONNECTION_STRING = text_file.read()
    text_file.close()
    return CONNECTION_STRING

engine = create_engine(read_database_connection_string())
session = Session(engine)
conn = engine.connect()

**List of Tables within Database.**

In [ ]:
meta = MetaData(bind=engine)
MetaData.reflect(meta)
print("List of Tables in Postgres database.")
print(list(meta.tables.keys()))
ExchangeTable = meta.tables['Exchange']
TickerTable = meta.tables['Ticker']
TDAmeritradeDailyTable = meta.tables['TDAmeritradeDailyPrice']
TDAmeritradeMinuteTable = meta.tables['TDAmeritradeMinutePrice']
TickerFundamentalTable = meta.tables['TickerFundamental']

<ipython-input-3-51895af38c55>:1: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  meta = MetaData(bind=engine)

List of Tables in Postgres database.
['Exchange', 'Ticker', 'TDAmeritradeDailyPrice', 'TDAmeritradeMinutePrice', 'TickerFundamental']

**Querying database using Sqlalchemy ORM.**

In [ ]:
statement = select(ExchangeTable)

for row in conn.execute(statement):
    print(row)

(1, 'S&P500', "Standard and Poor's 500", '', 'United States of America')

**Querying database using pandas.**

**1. Exchage Table**

In [ ]:
statement = select(ExchangeTable)
df_exchange = pd.read_sql(statement, session.bind)
df_exchange.head()

   Id Abbreviation                     Name City                   Country
0   1       S&P500  Standard and Poor's 500       United States of America

**2. Ticker Table**

In [ ]:
statement = select(TickerTable)
df_ticker = pd.read_sql(statement, session.bind)
print("Total Tickers: ", len(df_ticker))
df_ticker.head()

Total Tickers:  791

   Id  ExchangeId Symbol Name
0   2           1    ABT
1   3           1   ABBV
2   4           1   ABMD
3   5           1    ACN
4   6           1   ATVI

**3. Ticker Fundamental Table**

In [ ]:
statement = select(TickerFundamentalTable)
df_ticker_fundamental = pd.read_sql(statement, session.bind)
df_ticker_fundamental.head()

Empty DataFrame
Columns: [Id, TickerId, Date, MarketCapital, PERatio, EPS]
Index: []

**4. TDAmeritrade Daily Table**

In [ ]:
#Parameters
ticker_name = "$SPX.X"
start_date = "2022-05-10"
end_date = "2022-07-10"
order_by_date_desc = False

# Query
statement = select(TickerTable.c.Id).where(TickerTable.c.Symbol == ticker_name)
for row in conn.execute(statement):
    ticker_id = row[0]
statement = select(TDAmeritradeDailyTable)
if(ticker_name != ""):
    statement = statement.where(TDAmeritradeDailyTable.c.TickerId == ticker_id)
if(start_date != ""):
    statement = statement.where(TDAmeritradeDailyTable.c.Date >= start_date)
if(end_date != ""):
    statement = statement.where(TDAmeritradeDailyTable.c.Date <= end_date)
if(order_by_date_desc):
  statement = statement.order_by(TDAmeritradeDailyTable.c.Date.desc())

df_daily = pd.read_sql(statement, session.bind)

#Result
df_daily.head(30)

         Id  TickerId        Date     Open     High      Low    Close  Volume
0   4514430       766  2022-05-10  4035.18  4068.82  3958.17  4001.05     0.0
1   4514431       766  2022-05-11  3990.08  4049.09  3928.82  3935.18     0.0
2   4514432       766  2022-05-12  3903.95  3964.80  3858.87  3930.08     0.0
3   4514433       766  2022-05-13  3963.90  4038.88  3963.90  4023.89     0.0
4   4514434       766  2022-05-16  4013.02  4046.46  3983.99  4008.01     0.0
5   4514435       766  2022-05-17  4052.00  4090.72  4033.93  4088.85     0.0
6   4514436       766  2022-05-18  4051.98  4051.98  3911.91  3923.68     0.0
7   4514437       766  2022-05-19  3899.00  3945.96  3876.58  3900.79     0.0
8   4514438       766  2022-05-20  3927.76  3943.42  3810.32  3901.36     0.0
9   4514439       766  2022-05-23  3919.42  3981.88  3909.04  3973.75     0.0
10  4514440       766  2022-05-24  3942.94  3955.68  3875.13  3941.48     0.0
11  4514441       766  2022-05-25  3929.59  3999.33  3925.03  3978.73     0.0
12  4514442       766  2022-05-26  3984.60  4075.14  3984.60  4057.84     0.0
13  4514443       766  2022-05-27  4077.43  4158.49  4077.43  4158.24     0.0
14  4514444       766  2022-05-31  4151.09  4168.34  4104.88  4132.15     0.0
15  4514445       766  2022-06-01  4149.78  4166.54  4073.85  4101.23     0.0
16  4514446       766  2022-06-02  4095.41  4177.51  4074.37  4176.82     0.0
17  4514447       766  2022-06-03  4137.57  4142.67  4098.67  4108.54     0.0
18  4514448       766  2022-06-06  4134.72  4168.78  4109.18  4121.43     0.0
19  4514449       766  2022-06-07  4096.47  4164.86  4080.19  4160.68     0.0
20  4514450       766  2022-06-08  4147.12  4160.14  4107.20  4115.77     0.0
21  4514451       766  2022-06-09  4101.65  4119.10  4017.17  4017.82     0.0
22  4514452       766  2022-06-10  3974.39  3974.39  3900.16  3900.86     0.0
23  4514453       766  2022-06-13  3838.15  3838.15  3734.30  3749.63     0.0
24  4514454       766  2022-06-14  3763.52  3778.18  3705.68  3735.48     0.0
25  4514455       766  2022-06-15  3764.05  3837.56  3722.30  3789.99     0.0
26  4514456       766  2022-06-16  3728.18  3728.18  3639.77  3666.77     0.0
27  4514457       766  2022-06-17  3665.90  3707.71  3636.87  3674.84     0.0
28  4514458       766  2022-06-21  3715.31  3779.65  3715.31  3764.79     0.0
29  4514459       766  2022-06-22  3733.89  3801.79  3717.69  3759.89     0.0

**5. TDAmeritrade Minute Data**

In [ ]:
#Parameters
ticker_name = "AAPL"
start_date = "2023-01-23"
end_date = "2023-01-23"
order_by_date_desc = False
include_extended_hours = False

# Query
statement = select(TickerTable.c.Id).where(TickerTable.c.Symbol == ticker_name)
for row in conn.execute(statement):
    ticker_id = row[0]
statement = select(TDAmeritradeMinuteTable)
if(ticker_name != ""):
    statement = statement.where(TDAmeritradeMinuteTable.c.TickerId == ticker_id)
if(start_date != ""):
    statement = statement.where(TDAmeritradeMinuteTable.c.Date >= start_date)
if(end_date != ""):
    statement = statement.where(TDAmeritradeMinuteTable.c.Date <= end_date)
if(not include_extended_hours):
    statement = statement.where(TDAmeritradeMinuteTable.c.Time >= '09:30:00').where(TDAmeritradeMinuteTable.c.Time < '16:00:00')
if(order_by_date_desc):
  statement = statement.order_by(TDAmeritradeMinuteTable.c.Date.desc())
df_minute = pd.read_sql(statement, session.bind)

#Result
df_minute

,Id,TickerId,Date,Time,Open,High,Low,Close,Volume
0,68281619,45,2023-01-23,09:30:00,138.120,138.280,137.9100,138.1299,842538
1,68281620,45,2023-01-23,09:31:00,138.120,138.270,137.9000,138.1900,329740
2,68281621,45,2023-01-23,09:32:00,138.195,138.960,138.1800,138.8920,523487
3,68281622,45,2023-01-23,09:33:00,138.875,139.220,138.7800,139.2099,476255
4,68281623,45,2023-01-23,09:34:00,139.209,139.300,139.0200,139.0413,334055
...,...,...,...,...,...,...,...,...,...
385,68282004,45,2023-01-23,15:55:00,141.110,141.214,141.0147,141.1450,370106
386,68282005,45,2023-01-23,15:56:00,141.150,141.250,141.1100,141.2359,314479
387,68282006,45,2023-01-23,15:57:00,141.240,141.260,141.0400,141.1500,367945
388,68282007,45,2023-01-23,15:58:00,141.145,141.160,141.0300,141.0750,445446
389,68282008,45,2023-01-23,15:59:00,141.080,141.200,141.0400,141.1000,839590

**Aggregated Data**

In [ ]:
# Choose any time_frame value from the below. You can put any number in place of x
'''
x minutes - Minute 1, 5, 10, 15, 30, 60, 90, 120, 180, 240, 409,
x days - Daily 1 Day, 2 Day, 3 Day
microseconds
milliseconds
second
minute
hour
day
week
month
quarter
year
decade
century
millennium
'''

#Parameters
ticker_name = "AAPL"
time_frame = "5 minutes" 
table_name = "TDAmeritradeMinutePrice" # use "TDAmeritradeDailyPrice" for Daily Table or "TDAmeritradeMinutePrice" for Minute Table

In [ ]:
if(len(time_frame.split()) > 1):
  datetime_truncate = f'date_bin(\'{time_frame}\', "Date" + "Time", TIMESTAMP \'2001-01-01\')'
else:
  datetime_truncate = f'date_trunc(\'{time_frame}\', "Date")'

# Query
statement = select(TickerTable.c.Id).where(TickerTable.c.Symbol == ticker_name)
for row in conn.execute(statement):
    ticker_id = row[0]

statement = f'''
SELECT DISTINCT week as "DateTime", 
first_value("Open") OVER w as "Open", 
max("High") OVER w as "High",
min("Low") OVER w as "Low",
last_value("Close") OVER w as "Close",
sum("Volume") Over w as "Volume"
FROM (SELECT *, {datetime_truncate} as week
from public."{table_name}" where "TickerId" = {ticker_id}) as foo
WINDOW w AS (PARTITION BY week ORDER BY week)
order by week
'''

df_aggregated = pd.read_sql(statement, session.bind)
df_aggregated.insert(loc = 0, column = "Date", value = pd.to_datetime(df_aggregated['DateTime']).dt.date)
df_aggregated.insert(loc = 1, column = "Time", value = pd.to_datetime(df_aggregated['DateTime']).dt.time)
df_aggregated = df_aggregated.drop(columns=['DateTime'], axis =1)

In [ ]:
df_aggregated.head(25)

          Date      Time      Open      High       Low     Close     Volume
0   2022-05-27  09:30:00  146.0000  146.2300  145.2600  145.7900  3231233.0
1   2022-05-27  09:35:00  145.7900  146.6000  145.7900  146.4578  1895011.0
2   2022-05-27  09:40:00  146.4590  146.6600  145.8800  145.9601  1877028.0
3   2022-05-27  09:45:00  145.9700  147.1100  145.9400  146.9624  2177347.0
4   2022-05-27  09:50:00  146.9700  147.0450  146.5000  146.7700  1668313.0
5   2022-05-27  09:55:00  146.7600  147.3200  146.7250  147.0600  1302310.0
6   2022-05-27  10:00:00  147.0500  147.8000  146.9200  147.5580  1746047.0
7   2022-05-27  10:05:00  147.5400  147.7349  147.2900  147.6200  1435265.0
8   2022-05-27  10:10:00  147.6100  148.4050  147.5700  148.2950  1927643.0
9   2022-05-27  10:15:00  148.2982  148.6600  148.1300  148.4850  1569686.0
10  2022-05-27  10:20:00  148.4800  148.5200  148.1500  148.2450  1180442.0
11  2022-05-27  10:25:00  148.2600  148.4100  147.8600  147.9110  1068479.0
12  2022-05-27  10:30:00  147.9300  148.2500  147.8000  148.2400  1194260.0
13  2022-05-27  10:35:00  148.2500  148.4566  148.0700  148.1277   811321.0
14  2022-05-27  10:40:00  148.1200  148.1500  147.7700  147.8500   801274.0
15  2022-05-27  10:45:00  147.8500  147.9000  147.4700  147.8700   977776.0
16  2022-05-27  10:50:00  147.8700  147.9500  147.6701  147.8400   597157.0
17  2022-05-27  10:55:00  147.8476  147.9200  147.3400  147.4300   741538.0
18  2022-05-27  11:00:00  147.4400  147.6300  147.2500  147.4301   800707.0
19  2022-05-27  11:05:00  147.4400  147.8261  147.3900  147.7200   718343.0
20  2022-05-27  11:10:00  147.7200  148.0400  147.6500  147.9700   666705.0
21  2022-05-27  11:15:00  147.9650  148.1651  147.8900  148.1096   594387.0
22  2022-05-27  11:20:00  148.1100  148.3300  148.0700  148.2600   612489.0
23  2022-05-27  11:25:00  148.2700  148.3300  148.1100  148.2850   782891.0
24  2022-05-27  11:30:00  148.2950  148.4800  148.2500  148.4188   657838.0